<div *ngFor="let material of materials" class="checkbox">
    <div *ngIf="material.nbr_mat > 0" class="select-list">
        <label><input type="checkbox" (change)='updateMaterialNumber($event,material)'>
            {{material.m_libelle}}
            {{material.nbr_mat}}</label>
    </div>
    <div *ngIf="material.nbr_mat <= 0 " class="select-list">
        <label><input type="checkbox" disabled (change)='updateMaterialNumber($event,material)'>
            {{material.m_libelle}}
            {{material.nbr_mat}}</label>
    </div>
</div>