
        <a href="/" class="btn btn-primary">Revenir à l'acceuil</a>  
        <div *ngFor="let material of materials" class="checkbox">
            <div class="select-list">
                <label><input [disabled]="!material.nbAvailable" type="checkbox" (change)='updateMaterialNumber($event,material)'>
                    {{material.m_libelle}}
                    {{material.nbAvailable}}/{{material.nbr_mat}}</label>
            </div>
        </div>   
        <input type="button" class="btn btn-secondary" value="emprunter" >     



