<div *ngIf="!webcamImage" class="webcam">
    <mat-card-title>
      <h2>Take a picture of you to login :</h2>
    </mat-card-title>
    <webcam width="200" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
    <div class="bouton">
      <button mat-raised-button color="primary"  (click)="triggerSnapshot();">Take picture</button>
    </div>
</div>
<mat-card *ngIf="webcamImage">
    <h2>Your snap:</h2>
    <img mat-card-md-image [src]="webcamImage.imageAsDataUrl" />
    <button mat-raised-button color="secondary" routerLink='users' routerLinkActive="router-link-active">Choose
        your
        materials here</button>
</mat-card>
<router-outlet></router-outlet>   




