.snapshot {
    text-align: center;
   
  }

  button{
    display: inline-block;
    float: right;
  }

  #webcam{
    background-color: lightgray;
    color:whitesmoke;
    width: 30rem;
    
    
   }