.snapshot {
    text-align: center;
   
  }
  img {
    max-width: 200px;
    max-height: 200px;
  }
  .bouton{
    float: right;
  }

  webcam{
    background-color: lightgray;
    color:whitesmoke;
    width: 18rem;
    height: 500px;
    
   }